<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<div class="toolbar">
  <a href="/purchases">Purchases</a>
  <a href="/purchases/add" class="primary">Add</a>
</div>

<% if (purchases && purchases.length) { %>
  <div class="data-list">
    <table border="1">
      <tr>
        <th>Purchase ID   </th>
        <th>Username </th>
        <th>Game </th>
        <th>Date (PST) </th>
        <th>Price </th>
        <th>Delete</th>
      </tr>

      <% purchases.forEach(p => { %>
       <tr>
        <td> <%= p.purchaseID %> </td>
        <td> <%= p.username %> </td>
        <td> <%= p.title %> </td>
        <td> <%= p.purchaseDate %> </td>
        <td> <%= p.purchasePrice %> USD </td>
        <td>
        <form action="/purchases/browse" method="POST">
        <input type="hidden" name="purchaseID" value="<%= p.purchaseID %>">
        <button type="submit" class="deletePurchase">Delete </button></td>
        </form>
       </td>
       </tr>
  <% }) %>

   </table>
  </div>
<% } else { %>
  <div class="empty-state">No purchases yet. (DB not connected.)</div>
<% } %>
<%- include('../partials/footer') %>
