<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<div class="toolbar">
  <a href="/developers">Developers</a>
  <a href="/developers/add" class="primary">Add</a>
</div>


<% if (developers && developers.length) { %>
  <div class="data-list">
    <table border="1">
      <tr>
        <th>Developers</th>
        <th>Games</th>
        <th>Average Rating</th>
      </tr>

      <% developers.forEach(d => { %>
       <tr>
        <td> <%= d.developerName %> </td>
       <td><%= d.titles ? d.titles : "-" %></td>
       <td><%= d.avgR ? d.avgR : "-" %> </td>
       </tr>
  <% }) %>

   </table>
  </div>
>
<% } else { %>
  <div class="empty-state">No developers yet. (DB not connected.)</div>
<% } %>
<%- include('../partials/footer') %>

