<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<div class="toolbar">
  <a href="/developers/add" class="primary">Add</a>
  <a href="/developers/delete" class="primary">Delete</a>
</div>


<% if (developers && developers.length) { %>
  <div class="data-list">
    <table border="1">
      <tr>
        <th>Developers</th>
        <th>Games</th>
        <th>Average Rating</th>
        <th>Delete</th>
      </tr>

      <% developers.forEach(d => { %>
       <tr>
        <td> <%= d.developerName %> </td>
       <td><%= d.titles ? d.titles : "-" %></td>
       <td><%= d.avgR ? d.avgR : "-" %> </td>
       <td>
        <form action="/developers/browse" method="POST">
        <input type="hidden" name="developerID" value="<%= d.developerID %>">
        <button type="submit" class="deleteDeveloper">Delete </button>
      </form></td>
       </tr>
  <% }) %>

   </table>
  </div>
<% } else { %>
  <div class="empty-state">No developers yet. (DB not connected.)</div>
<% } %>
<%- include('../partials/footer') %>

