<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<div class="toolbar">
  <a href="/reviews">Reviews</a>
  <a href="/reviews/add" class="primary">Add</a>
</div>
<% if (reviews && reviews.length) { %>
  <div class="data-list">
    <table border="1">
      <tr>
        <th>Username</th>
        <th>Game</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Category</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>

      <% reviews.forEach(r => { %>
       <tr>
        <td> <%= r.username %> </td>
        <td> <%= r.title %> </td>
        <td><%= r.comment ? r.comment : "------------" %> </td>
        <td> <%= r.rating %> </td>
        <td> <%= r.category %> </td>
        <td> <%= r.reviewDate %> </td>
        <td>
        <form action="/reviews/browse" method="POST">
        <input type="hidden" name="reviewID" value="<%= r.reviewID %>">
        <button type="submit" class="deleteReview">Delete </button></td>
        </form>
       </td>
       </tr>
  <% }) %>

   </table>
  </div>

<% } else { %>
  <div class="empty-state">No reviews yet. (DB not connected.)</div>
<% } %>
<%- include('../partials/footer') %>
