<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<div class="toolbar">
  <a href="/reviews">Reviews</a>
  <a href="/reviews/add" class="primary">Add</a>
</div>
<% if (reviews && reviews.length) { %>
  <div class="data-list">
    <table border="1">
      <tr>
        <th>ReviewID</th>
        <th>UserID</th>
        <th>GameID</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Category</th>
      </tr>

      <% reviews.forEach(r => { %>
       <tr>
        <td> <%= r.reviewID %> </td>
        <td> <%= r.userID %> </td>
        <td> <%= r.gameID %> </td>
        <td> <%= r.rating %> </td>
        <td> <%= r.comment %> </td>
        <td> <%= r.category %> </td>
       </tr>
  <% }) %>

   </table>
  </div>

<% } else { %>
  <div class="empty-state">No reviews yet. (DB not connected.)</div>
<% } %>
<%- include('../partials/footer') %>
