<%- include('../partials/header', { title: 'Delete User' }) %>
<h1>Delete user</h1>

<div class="toolbar">
  <a href="/users/browse">Users</a>
  <a href="/users/add" class="primary">Add</a>
  <a href="/users/update" class="primary">Edit</a>
</div>
<p class="subtitle">Select a user to remove.</p>
<form action="/users/delete" method="POST">
  <label><h3>Username</h3> </label>
  <select name = "deleteUser"> 
    <% users.forEach(u => { %>
    <option value = <%= u.userID %>>
        <%= u.username %> (<%= u.accountType %>)</option> 
    <% } ) %> 
  </select>
  <br>
  <button type="submit">Remove User</button>
<%- include('../partials/footer') %>
